<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mappers.SubscriberMapper">
    <resultMap id="subscriber" type="dbObjects.Subscriber">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getSubscriberById" parameterType="java.lang.Integer" resultMap="subscriber">
        select * from "SCHEMA_TEST_ROMAN"."SUBSRIBER" where id = #{id}
    </select>

    <select id="getMaxId" resultType="java.lang.Integer">
        select max(id) from "SCHEMA_TEST_ROMAN"."SUBSRIBER"
    </select>


    <select id="getSubscribers" resultType="java.util.List" resultMap="subscriber">
        select * from "SCHEMA_TEST_ROMAN"."SUBSRIBER"
    </select>

    <select id="getNumberOfSubscribers" resultType="java.lang.Integer">
        select count(*) from "SCHEMA_TEST_ROMAN"."SUBSRIBER"
    </select>

    <insert id="insertSubscriber"
            parameterType="dbObjects.Subscriber"
            keyColumn="id"
            useGeneratedKeys = "true"
            keyProperty = "id">
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
            select max(id) from "SCHEMA_TEST_ROMAN"."SUBSRIBER"
        </selectKey>
        INSERT INTO "SCHEMA_TEST_ROMAN"."SUBSRIBER"(id,NAME,REF_TARIFF) VALUES (#{id}+1,#{name},#{refTariff})
    </insert>

</mapper>